/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

/* Clearing CSS */
*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-main: "Roboto";
}

.glass-navbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-nav {
  top: 0;
  left: 0;
  right: 0;
  letter-spacing: 2px;
}

.navbar-nav span {
  font-family: "Pacifico";
  font-weight: 400;
  color: rgb(255, 127, 80);
}

.hero-section {
  background-image: url("./assets/IMG/Background/4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
  width: 100%;
}

.hero-section::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  height: 13rem;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(2, 2, 2, 0.7) 20%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hero-text {
  display: inline-block;
  padding: 0.2rem 0;
  text-shadow: 1px 1px 1px rgba(2, 2, 2, 0.5);
}

.hero-section .kuliner-text {
  font-family: var(--font-family-mains);
  color: coral;
  font-weight: 700;
}

.hero-section .hero-btn {
  display: block;
  background: rgb(255, 127, 80);
  cursor: pointer;
  height: 50px;
  border-radius: 10px;
  position: relative;
  box-shadow: 2px 2px 0.1px 0.1px rgba(2, 2, 2, 0.7);
}

.menu-kuliner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.menu-kuliner h2 {
  margin-top: 20px;
  letter-spacing: 2px;
}

.menu-kuliner span {
  font-family: "Pacifico";
  color: coral;
}

.menu-kuliner p {
  font-size: 1.6rem;
  padding-top: 0.4rem;
  display: flex;
  margin: 0 auto;
}

.menu-kuliner img {
  width: 80%;
  object-fit: cover;
  height: auto;
  border-radius: 10px;
}

.menu-kuliner .btn-menu {
  display: flex;
  background: none;
  color: rgba(255, 127, 80);
  border: none;
  font-size: 16px;
}

.about-page {
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

.about-page img {
  width: 40vmax;
  border-radius: 10%;
}

.about-page h2 {
  letter-spacing: 3px;
}

.about-page p {
  letter-spacing: 2px;
  line-height: 28px;
  text-align:left;
  margin-top: 1.5rem;
}

.about-page span {
  color: coral;
}

.about-us {
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}

.about-us h2 {
  letter-spacing: 2px;
}

.about-us span {
  color: coral;
  font-weight: 700;
}

.about-us img {
  border: solid 4px coral;
  border-radius: 10px;
  width: 25vmax;
}

.about-us p {
  display: block;
  text-align:justify;
  margin-top: 1rem;
  font-size: 1rem;
}

.about-us .about-us-content {
  flex-direction: column;
}

@media screen and (max-width: 1366px) {
  html {
    font-size: large;
  }

  .menu-kuliner p {
    font-size: large;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: medium;
  }

  .menu-kuliner p {
    font-size: 12px;
  }

  .menu-kuliner .btn-menu {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: small;
  }

  .menu-kuliner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .menu-kuliner .btn-menu {
    font-size: 1.1em;
  }

  .menu-kuliner h2 {
    font-size: 1.4em;
    margin: 0 1rem;
  }

  .menu-kuliner img {
    width: 19vmax;
  }

  .menu-kuliner p {
    margin-top: 0.4rem;
    font-size: 1.1em;
  }

  .about-page {
    overflow-x: hidden;
  }

  .about-page h2 {
    font-size: 1.8rem;
  }

  .about-page p {
    font-size: 1.5rem;
  }

  .about-page img {
    width: 35vmax;
    top: 6rem;
  }

  .about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
  }

  .about-us h2 {
    font-size: 2.2rem;
  }

  .about-us img {
    display: block;
    margin: 2.1rem auto;
    width: 28vmax;
  }

  .about-us .about-us-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 6%;
  }

  .about-us .about-us-content p {
    font-size: 1.5rem;
  }

  .about-us .about-us-content span {
    font-weight: 700;
  }
}
